.projects {
  background-color: #fdbb2d;
}
.About{
  float:left;
}
p.footer {
  background-color: silver;
}
body {
  background-color: #7FDBFF;
  border-style: inset;
}
.header {
  text-align: center;
  font-family: georgia;
  border-style: outset;
  background-color: #fdbb2d;
}
.footer {
  text-align: center;
  border-style: ridge;
  background-color: #B10DC9;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
.wrap{
  display:flex;
  background-color: #302b63;
}
#list {
  list-style: none;
}
.program {
  border-style: solid;
}
